%header
  %h1 
    / %img{:src=>"images/logo3.png", :alt=>"WAI-ARIA"}
    %span WAI-ARIA
    information &amp; examples
  %p 
    %i WAI-ARIA 
    is the Web Accessibility Initiative's specification for creating Accessible Rich Internet Applications.
  %p It exists to enhance custom, dynamic user interface widgets most often built using HTML with functionality implemented with Javascript.

%section.main{:role=>"main"}
  %ul.posts
    %li 
      %h2 States and properties: Practical examples
      %p Confused by the different states and properties of ARIA?
      %p
        %a.go{:href=>"http://www.punkchip.com/2010/11/aria-basic-findings/"} View post
      / %ul.tags
      /   %li States
      /   %li Properties
    %li
      %h2 Videos of screen readers using ARIA
      %p Excellent list of videos organised by topic.
      %p
        %a.go{:href=>"http://zomigi.com/blog/videos-of-screen-readers-using-aria-updated/"} View post
      / %ul.tags
      /   %li Video
      /   %li Screen-readers
    %li
      %h2 Enhancing form validation
      %p Showing how to add ARIA in your forms.
      %p
        %a.go{:href=>"http://www.punkchip.com/2010/12/aria-enhance-form-validation/"} View post
      %ul.tags
        %li Forms
    %li
      %h2 Autocomplete implementation insight
      %p ARIA autocomplete implementation insight by a Mozilla accessibility engineer.
      %p
        %a{:href=>"http://asurkov.blogspot.com/2011/11/aria-autocomples-implementation-insight.html"} View post
      %ul.tags
        %li Autocomplete

    %li
      %h2 Accessible jQuery-UI components demonstration
      %p Live example showing an autocomplete input box.
      %p
        %a{:href=>"http://hanshillen.github.com/jqtest/#goto_autocomplete"} View site

%aside
  %h2 Official documentation:
  %ul.official
    %li 
      %a{:href=>"http://www.w3.org/WAI/intro/aria"} WAI-ARIA overview
    %li
      %a{:href=>"http://www.w3.org/TR/wai-aria/"} WAI-ARIA specification
    %li
      %a{:href=>"http://www.w3.org/TR/wai-aria/"} Best practices
  %h2 Jump to:
  %ul.jump
    %li
      %a{:href=>"http://www.w3.org/TR/wai-aria/roles#widget_roles"} Widget roles
    %li
      %a{:href=>"http://www.w3.org/TR/wai-aria/roles#document_structure_roles"} Document structure roles
    %li
      %a{:href=>"http://www.w3.org/TR/wai-aria/roles#landmark_roles"} Landmark roles
    %li 
      %a{:href=>"http://www.w3.org/TR/wai-aria/states_and_properties#state_prop_def"} All states &amp; properties

%footer
  %p 
    Copyright &copy; 2011 
    %a{:href=>"http://punkchip.com"} punkchip.com